* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgba(233, 227, 230, 0.788);
    font-family: 'Kaushan Script', cursive;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0.993);
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) ,.dropdown:hover{background-color: rgb(12, 150, 131);}
  
  ul.topnav li a.active {background-color: #e01c78;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
   .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content  a {
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: rosybrown;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;}
  div.transbox {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.7;
    margin-top:10%;
  }
  @media screen and (max-width: 340){
      .content{
          margin: 0%;
          margin-left: 0%;
      }
  }
  table{
      width: 80%;
      overflow-x: auto;
      border:2px solid rgb(235, 209, 225);
      background-color: rgb(255, 80, 109);
      box-shadow: 6px 5px 6px rgb(221, 186, 221);
  }
  table ,td,th{
      
      border-collapse: collapse;
      padding: 10px;
      border-radius: 6px;
  }
  .content{
      margin: 3%;
      margin-left: 15%;
  }
 .label{
     
      color: rgb(32, 31, 31);
      text-align: center;
      font-size: large;
  }
  .sub{
      text-align: center;
     
     
  }
  #submit,#clear{
      color:white;
      background-color: rgb(231, 154, 190);
      border-color: thistle;
  }
  .head1{
    margin-left: 10px;
    color: rgb(255, 80, 109);
    font-family: 'Viaoda Libre', cursive;
  }
  .head2{
    margin-left: 20px;
    color: rgb(255, 80, 109);
  }